
$header-color: darkolivegreen;
$header-text-color: aliceblue;
$body-background-color: darkslategray;
$todo-list-color: lightgray;
$task-color: gray;
$webkit-scrollbar-track-color: lightgray;
$webkit-scrollbar-thumb-color: gray;